[Desktop Entry]
Type=Application
Name=Файлы
Comment=Работа с файлами и папками
Exec=dms files open %f
Icon=/opt/macqueende/shell/MolniyaMacqueenShell/quickshell/assets/kaskados-logo.png
Terminal=false
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
StartupNotify=true
X-KaskadOS-Component=file-manager
